.collapsible {
    overflow: hidden;
    border-radius: 24px;
    border: 2px solid var(--layout-color);
    transition: 0.3s;
    margin: 12px;
}

.collapsible .collapsible-head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--layout-color);
    border-bottom: 4px solid var(--layout-color);
}

.collapsible .collapsible-button {
    cursor: pointer;
    align-self: center;
    height: 28px;
    width: max(8%, 56px);
    background-color: var(--layout-color);
    border: none;
    border-radius: 16px;
    margin-right: 5px;
}

.collapsible img {
    height: 20px;
    width: 20px;
}

.collapsible h2 {
    width: 100%;
    margin: 0;
    padding: 4px 24px 8px 24px;
    font-size: 20px;
}

.collapsible .collapsible-content {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.collapsible svg {
    height: 40%;
    color: white;
}