.global-container {
    position: relative;
}

.global-container .banner-image {
    top: var(--navbar-height-collapsed);
}

.global-container .page-container {
    position: absolute;
    top: var(--navbar-height-collapsed);
    display: grid;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height-collapsed));
    justify-items: center;
}

@media (max-width: 800px) {
    .global-container .page-container {
        justify-items: unset;
    }
}