.global-container {
    position: relative;
}

.navbar {
    position: fixed;
    z-index: 5;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: var(--layout-color);
    height: var(--navbar-height);
    font-size: 24px;
    width: 100%;
    transition: var(--navbar-animation-timme);
}

.navbar .navbar-logo {
    position: relative;
    --image-size: calc(var(--navbar-height) * 0.8); 
    height: var(--image-size);
    width: var(--image-size);
    margin-left: 2%;
    transition: var(--navbar-animation-timme);
}

.navbar ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
    margin-right: 32px;
    transition: var(--navbar-animation-timme);
}

.navbar ul li {
    height: 100%;
    display: grid;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--layout-text-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navbar ul li:nth-child(1) {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid black;
}
.navbar ul li a:hover {
    background-color: var(--layout-enphasis-color);
}

.global-container > .collapsed {
    height: var(--navbar-height-collapsed);
}

.global-container > .collapsed ul {
    margin-top: -36px;
}

.global-container > .collapsed .navbar-logo  {
    margin-top: calc(var(--navbar-height) * -1.3);
}

.global-container .banner-image {
    top: var(--navbar-height-collapsed);
}

.global-container .page-container {
    position: absolute;
    top: var(--navbar-height-collapsed);
    display: grid;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height-collapsed));
    justify-items: center;
}

@media (max-width: 800px) {
    .global-container .page-container {
        justify-items: unset;
    }
}