.global-container {
    position: relative;
}

.navbar {
    position: fixed;
    z-index: 5;
    top:0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
    background-color: var(--layout-color);
    height: var(--navbar-height);
    font-size: 24px;
    width: 100%;
}

.navbar ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
    margin-right: 32px;
}

.navbar ul li {
    height: 100%;
    display: grid;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--layout-text-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navbar ul li:nth-child(1) {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid black;
}
.navbar ul li a:hover {
    background-color: var(--layout-enphasis-color);
}

.global-container .banner-image {
    top: var(--navbar-height);
}

.global-container .page-container {
    position: absolute;
    top: var(--navbar-height);
    display: grid;
    width: 100%;
    justify-items: center;
}