.navbar {
    position: fixed;
    z-index: 5;
    top:0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 4%;
    background-color: var(--layout-color);
    height: var(--navbar-height);
    font-size: 24px;
    width: calc(100vw - 8%);
    transition: var(--navbar-animation-timme);
    transition-property: height, padding, top;
}

.navbar .navbar-descktop-navlist {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: var(--navbar-animation-timme);
}

.navbar .navbar-descktop-navlist li {
    display: grid;
    align-items: center;
}

.navbar .navbar-descktop-navlist li a {
    text-decoration: none;
    color: var(--layout-text-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navbar .navbar-descktop-navlist li:nth-child(1) {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 2px solid rgba(0, 0, 0, .3);
}
.navbar .navbar-descktop-navlist li a:hover {
    background-color: var(--layout-enphasis-color);
}

.navbar .navbar-mobile-menu {
    color: var(--bammer-border-color);
    height: 28px;
    margin-top: 6px;
}

.navbar .navbar-logo {
    transition: 0.3s;
}

.navbar .navbar-title {
    height: 20px;
    margin-top: 8px;
}