.page {
    display: grid;
    grid-template-columns: min(calc(1200px + 10vw), 100%);
    grid-template-rows: max-content auto;
    justify-items: center;
}

.page ul, .page ol {
    list-style: none;
    padding: 0;
}

.page .heading {
    width: 100%;
    filter: drop-shadow( 3px 5px 8px rgba(0, 0, 0, 0.6));
}

.page .heading > h1 {
    font-size: 80px;
    font-weight: 800;
    color: var(--bammer-border-color);
    margin-left: 8%;
    margin-top: 12%;
}

.page .display {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    padding: 48px 6% 100px 6%;
    font-size: 18px;
    font-weight: 500;
}

.page .display h1 {
    font-size: 28px;
    margin-top: 6vh;
    margin-bottom: 3vh;
    color: white;
    padding: 8px 32px;
    border-radius: 12px;
    background-color: var(--layout-enphasis-color);
}

.page .display > p {
    padding: 0 0 0 16px;
}

.page .display strong {
    color: var(--strong-color);
}

.page .display p > code {
    color: var(--code-color);
    background-color: var(--code-background-color);
    padding: 0 4px;
}

.page .display em {
    color: var(--em-color);
}

.page .display > :first-child {
    margin-top: 0;
}

@media (max-width: 800px) {
    .page {
        grid-template-columns: 100%;
    }

    .page .heading > h1 {
        margin-top: 108px;
        font-size: 60px;
        margin-left: 4%;
    }

}

@media (max-width: 400px) {
    .page {
        grid-template-columns: 100%;
    }

    .page .heading > h1 {
        font-size: 45px;
    }

}