.page {
    display: grid;
    grid-template-columns: min(calc(1200px + 10vw), 100vw)
}

.page .heading {
    min-height: 250px;
    filter: drop-shadow( 3px 5px 8px rgba(0, 0, 0, 0.6));
}

.page .display {
    width: 100%;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 50px 50px 0 0;
}

@media(max-width: 1700px) {
    .page {
        grid-template-columns: 80vw;

    }
}

@media(max-width: 800px) {
    .page {
        grid-template-columns: 100vw;

    }
}